{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      <i class="fa-brands fa-creative-commons" title="Creative Commons License. This work is licensed under CC BY-SA 4.0."></i>
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}, {{ site.time | date: '%Y' }}.
      {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%e %B %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}
    <div class="container">
      <i class="fa-brands fa-creative-commons" title="Creative Commons License. This work is licensed under CC BY-SA 4.0."></i>
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}, {{ site.time | date: '%Y' }}.
      {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%e %B %Y' }}.
      {% endif %}
    </div>
  </footer>
{% endif %}
