<div class="talks">
  {% if site.talks != blank %}
    {% assign talks_size = site.talks | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.talks.scrollable and talks_size > 3 %}
        style="max-height: 40vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless talks">
        {% assign talks = site.talks | reverse %}
        {% if include.limit and page.talks.limit %}
          {% assign talks_limit = page.talks.limit %}
        {% else %}
          {% assign talks_limit = talks_size %}
        {% endif %}
        {% for item in talks limit: talks_limit %}
          <tr>
            <th scope="row" style="width: 15%">{{ item.date | date: '%e %b %Y' }}</th>
            <td>
              {% if item.type %}
                {{ item.type -}}
              {%- else -%}
                Presentation
              {% endif -%}
              {%- if item.event %}
                at
                <span class="event">
                  {% if item.event_url %}
                    <a href="{{ item.event_url }}" target="_blank">{{ item.event }}</a>
                  {% else %}
                    {{ item.event }}
                  {% endif %}
                </span>
              {% endif %}
              {% if item.location %}
                <div class="float-right location">
                  {{ item.location -}}
                  {%- if item.address.city -%}
                    , {{ item.address.city -}}
                    {%- if item.address.region -%}
                      , {{ item.address.region -}}
                    {%- endif -%}
                  {%- endif %}
                </div>
              {% endif %}
              <div>
                {% if item.details %}
                  <a class="title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% elsif item.link %}
                  <a class="title" href="{{ item.link }}">{{ item.title }}</a>
                {% else %}
                  <span class="title">{{ item.title }}</span>
                {% endif %}
                {% if item.abstract %}
                  <a
                    class=""
                    data-toggle="collapse"
                    href="#abstract{{ forloop.index }}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="abstract{{ forloop.index }}"
                  >
                    {% comment %}
                      <span class="fa-stack fa-2x" title="Abstract">
                        <i class="fa-solid fa-caret-down"></i>
                        <i class="fa-solid fa-rectangle-list fa-stack-1x"></i>
                      </span>
                    {% endcomment %}
                    <i class="fa-solid fa-caret-down" title="Abstract"></i>
                  </a>
                {% endif %}
                {% if item.with %}
                  <div class="float-right with">with {{ item.with }}</div>
                {% endif %}
                {% if item.abstract %}
                  {% comment %} </summary> {% endcomment %}
                  <div class="collapse" id="abstract{{ forloop.index }}">
                    <div class="card card-body abstract font-weight-lighter">
                      {{ item.abstract | markdownify }}
                    </div>
                  </div>
                  {% comment %} </details> {% endcomment %}
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No talks so far...</p>
  {% endif %}
</div>
