<div class="talks">
  {% if site.talks != blank %}
    {% assign talks_size = site.talks | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.talks.scrollable and talks_size > 3 %}
        style="max-height: 40vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign talks = site.talks | reverse %}
        {% if include.limit and page.talks.limit %}
          {% assign talks_limit = page.talks.limit %}
        {% else %}
          {% assign talks_limit = talks_size %}
        {% endif %}
        {% for item in talks limit: talks_limit %}
          <tr>
            <td scope="row" style="width: 15%">{{ item.date | date: '%e %b %Y' }}</td>
            <td>
              {% if item.abstract %}
                <details>
                  <summary>
              {% endif %}
              {% if item.type %}
                {{ item.type }}{% else %}Presentation
              {% endif %}{% if item.event %}
                at <span class="event font-weight-normal">
                {% if item.event_url %}
                  <a href="{{ item.event_url }}" target="_blank">{{ item.event }}</a>
                {% else %}
                  {{ item.event }}
                {% endif %}
                </span>
              {% endif %}
              {% if item.location %}
                <small class="float-right">
                {{ item.location }}{% if item.address.city %}, 
                  {{ item.address.city }}{% if item.address.region %}, 
                  {{ item.address.region }}{% endif %}{% endif %}
                  </small>
              {% endif %}
              <div class="title">
                {% if item.details %}
                  <a class="talks-title font-italic" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% elsif item.link %}
                  <a class="talks-title font-italic" href="{{ item.link }}">{{ item.title }}</a>
                {% else %}
                  <span class="talks-title font-italic">{{ item.title }}</span>
                {% endif %}
                {% if item.with %}
                  <div class="float-right">with {{ item.with }}</div>
                {% endif %}
              </div>
              {% if item.abstract %}
                  </summary>
                  <div class="abstract font-weight-lighter p-2 lh-1" style="line-height: 1.2rem; font-size: .85rem">{{ item.abstract | markdownify }}</div>
                </details>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No talks so far...</p>
  {% endif %}
</div>
