---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.date %}
      <div class="talk-header">
        {% if page.type %}
          {{ page.type -}}
        {%- else -%}
          Presentation
        {% endif %}
        {% if page.event %}
          at
          <span class="event font-weight-normal">
            {% if page.event_url %}
              <a href="{{ page.event_url }}" target="_blank">{{ page.event }}</a>
              —
            {% else %}
              {{ page.event }} —
            {% endif -%}
          </span>
        {% endif %}
        {{ page.date | date: '%e %B %Y' }}
        {% if page.location %}
          <div class="float-right">
            {{ page.location -}}
            {%- if page.address.city -%}
              , {{ page.address.city -}}
              {%- if page.address.region -%}
                , {{ page.address.region -}}
              {%- endif -%}
            {%- endif %}
          </div>
        {% endif %}
        {% if page.with %}
          <div>with
            <strong>{{ page.with }}</strong>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
    {% if page.abstract %}
      <div class="post-description abstract">
        <h4>Abstract</h4>
        {{ page.abstract | markdownify }}
      </div>
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>